################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/WindowsService/.vs/WindowsService/v16/TestStore/0
